
body {
    background-image: url('../images/login.img-2');
    opacity: 0.8;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;

}

{
    animation: shadowBlink 2s infinite; /* Animation duration and infinite loop */
}
    body {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Full viewport height */
        margin: 0;
    }
    


@keyframes shadowBlink {
    0% {
        box-shadow: none; /* No shadow */
    }
    50% {
        box-shadow: 1px 0px 50px 20px rgba(198, 21, 21, 0.86); /* Shadow on */
    }
    100% {
        box-shadow: none; /* Shadow off */
    }
}
section {
    margin: 20px;
    margin-top: -20px; 
    position: static;
    color: rgb(186, 40, 40); /* Text color */
    padding: 38px;
    padding-right: 63px;
    width: 388px; /* Width of the square */
    height: 534px; /* Height of the square */
    border: 1px solid #ddd;
    border-radius: 42px;
    
    /* Initially no shadow */
    box-shadow: none;

    /* Apply animation */
    animation: shadowBlink 2.5s infinite;

    transition: 0.3s ease-in-out;
    z-index: 1;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    margin: 17px 2px;
    border: 1px solid #25963db3;
    border-radius: 14px;
}

h1 {
    margin: 15px;
    text-align: center;
}

a {
    color:#ba3720;; /* Default link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #95d51d; /* Change color on hover */
    text-decoration: underline; /* Underline on hover */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}

button {
    background-color: #2b7faf;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius:8px;
    cursor: pointer;
    margin-left: 177px;
}

button:hover {
    background-color: #ba3720;
}

input[type="checkbox"] {
    width: auto;
}

.terms {
    margin: 10px 0;
}
